.menu-catagory-title-container {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--menu-link-height);
}

.menu-catagory-container {
  animation-name: dropdown;
  animation-duration: 0.4s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: var(--animation-path);
  overflow: clip;
  height: 0;
}

@keyframes dropdown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(var(--menu-link-height) * 4);
    opacity: 1;
  }
}
