.input {
  width: 100%;
}

.label {
  color: var(--tertiary-color);
  margin: 5px 0;
  font-weight: 600;
  font-size: 1.1em;
}

.input[type] {
  color: var(--secondary-color);
  border: none;
  border-bottom: 1px solid var(--tertiary-color);
  background-color: var(--primary-color);
  margin: 0;
  padding: 5px 0;
}

.input[type]:focus {
  outline: none;
}

.input[type]::placeholder {
  color: var(--tertiary-color);
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.6;
}

.required {
  color: red;
}
