.sub-header-container {
  margin: var(--container-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-header {
  font-size: 1.4em;
}

.bottom-header {
  font-size: 2.1em;
}
