/* ---------- ContactForm Styles ---------- */

.form-container {
  margin: var(--container-margin);
}

.divider {
  display: flex;
  flex-direction: column;
}

.row-divider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

.info {
  padding: 0 10px;
  color: var(--secondary-color);
  line-height: 1.1em;
  font-size: 0.8em;
  font-style: italic;
}

/* ----------  Mixed Styles ---------- */

.divider,
.form-container button {
  margin: 5px 0;
}

.form-container,
.row-divider {
  width: 100%;
}
