.header-container {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 7px;
}

.org-name {
  display: inline;
  margin-right: 5px;
}

.org-link:link,
.org-link:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

.book-btn {
  font-size: 0.7em;
  background-color: var(--tertiary-color);
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.book-btn-link,
.book-btn-link:link,
.book-btn-link:visited {
  font-weight: 800;
  color: var(--primary-color);
  text-decoration: none;
}
