* {
  --header-height: 65px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  background-color: var(--primary-color);
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 7px;
}

.header-name {
  display: inline;
  margin-right: 5px;
}

.header-name a:link,
.header-name a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

.book-btn {
  font-size: 0.7em;
  background-color: var(--tertiary-color);
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
}

.book-btn a {
  font-weight: 800;
}

.book-btn a:link,
.book-btn a:visited {
  color: var(--primary-color);
  text-decoration: none;
}
