.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "title title"
    "address links";
  color: var(--tertiary-color);
  padding: 20px;
}

.footer-org-name {
  font-size: 1.5em;
  font-weight: 800;
  grid-area: title;
  margin: 15px 0;
  color: var(--secondary-color);
}

.footer-section-address {
  grid-area: address;
}

.footer-section-links {
  grid-area: links;
}

.footer-org-name,
.footer-section-address,
.footer-section-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.footer-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-link {
  border-bottom: 1px solid var(--tertiary-color);
  font-style: italic;
}

.footer-link a:link,
.footer-link a:visited {
  color: var(--tertiary-color);
  text-decoration: none;
}
