.footer-container {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(240, 219, 255), 10%, rgb(247, 241, 252));
}

.footer-container li {
  margin: 0;
  padding-left: 0;
}

.footer-container h2 {
  margin-top: 20px;
  padding-bottom: 10px;
  color: var(--tertiary-color);
  font-size: 1.5em;
  font-style: italic;
  border-bottom: 2px dotted var(--secondary-color);
  text-align: center;
}

.footer-container h3 {
  margin: 10px 0;
  color: var(--tertiary-color);
  font-size: 1.2em;
  text-align: left;
}
