.container {
  margin: var(--container-margin);
}

.header {
  color: var(--secondary-color);
  font-size: 2em;
}

.subHeader {
  color: var(--tertiary-color);
  font-size: 1.2em;
}

.header,
.subHeader {
  margin-bottom: 20px;
  text-align: center;
}

.text-body {
  color: var(--tertiary-color);
}

.text-body:not(:last-child) {
  margin-bottom: 20px;
}
