.button {
  background-color: var(--tertiary-color);
  border-radius: 25px;
  width: 100%;
  padding: 15px 20px;
  border-style: none;
  margin: var(--container-margin);
}

.button,
.button-link,
.button-link:link,
.button-link:visited {
  font-size: 0.9em;
  font-weight: 800;
  color: var(--primary-color);
  text-decoration: none;
}
