.dropdown-container {
  border-top: 2px dotted var(--tertiary-color);
  overflow: hidden;
}

.dropdown-container:last-child {
  border-bottom: 2px dotted var(--tertiary-color);
  margin-bottom: 30px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10px 0 0;
}

.title {
  color: var(--tertiary-color);
  font-size: 1.1em;
  max-width: 75%;
}

.body-container {
  padding: 0 10px;
  color: var(--tertiary-color);
  font-size: 0.9em;
}

.body-container * {
  margin: 10px 0;
}

.body-container ul {
  padding-left: 20px;
}

.body-container ul li {
  list-style-type: square;
  padding-left: 10px;
  margin-bottom: 5px;
}
