.img {
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.img-fit {
  object-fit: contain;
  max-height: 125px;
}

.img,
.img-fit {
  width: 100%;
  margin: var(--container-margin);
}
