.img {
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.img-fit {
  object-fit: contain;
}

.img,
.img-fit {
  margin: 20px 0;
  width: 100%;
}
