.title {
  font-size: 2em;
}

.subTitle {
  font-size: 1.4em;
  color: var(--tertiary-color);
}

.title,
.subTitle {
  text-align: center;
  margin: var(--container-margin);
  line-height: 1em;
  font-weight: 800;
}
