/* ---------- Desktop Media Queries ---------- */

@media (min-width: 1000px) {
    * {
        --header-height: 100px;
    }
    #root {
        font-size: 1.2em;
    }
    main {
        width: 100%;
        max-width: 1500px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p {
        max-width: 800px;
    }
    button {
        max-width: fit-content;
        transition-duration: 0.07s;
        transition-timing-function: ease-in-out;
        transition-property: transform;
        cursor: pointer;
    }
    button:hover {
        transform: scale(1.03);
    }
    button:active {
        transform: scale(0.99);
    }
    iframe {
        max-width: 800px;
    }
    .desktop-grid {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 25px;
    }
    .desktop-grid > div {
        flex-basis: 0;
        flex-grow: 1;
    }
    svg:not(.sinwave) {
        font-size: 1.7em;
        transition-duration: 0.05s;
        transition-timing-function: ease-in-out;
        transition-property: transform;
        cursor: pointer;
    }
    svg:hover:not(.sinwave) {
        transform: scale(1.1);
    }
}
