/* ---------- Desktop Media Queries ---------- */

@media (min-width: 1000px) {
    * {
        --header-height: 100px;
    }
    #root {
        font-size: 1.2em;
    }
    main {
        width: 100%;
        max-width: 1500px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p {
        max-width: 800px;
    }
    button {
        max-width: fit-content;
    }
    iframe {
        max-width: 800px;
    }
    .desktop-grid {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 25px;
    }
    .desktop-grid > div {
        flex-basis: 0;
        flex-grow: 1;
    }
}
