@import "../node_modules/modern-normalize/modern-normalize.css";

* {
  --primary-color: rgb(247, 241, 252);
  --secondary-color: rgb(75, 129, 129);
  --tertiary-color: rgb(110, 80, 132);
  font-size: 1em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
