@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  --primary-color: rgb(247, 241, 252);
  --secondary-color: rgb(35, 102, 99);
  --tertiary-color: rgb(110, 80, 132);
  --container-margin: 30px 0;
  --header-height: 65px;
  --menu-link-height: 35px;
  --animation-path: cubic-bezier(0.5, 1.25, 0.5, 1.25);
  font-family: "Lora", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-optical-sizing: auto;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  font-size: 1em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  padding: calc(var(--header-height) + 5px) 20px 0 20px;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}
