* {
  --menu-link-height: 35px;
}

.menu-link-container {
  height: var(--menu-link-height);
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-link,
.menu-link:link,
.menu-link:visited {
  text-decoration: none;
  color: var(--tertiary-color);
}
