.menu-link-container {
    height: var(--menu-link-height);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.menu-link-container a,
.menu-link-container a:link,
.menu-link-container a:visited {
    padding: 0;
    color: var(--tertiary-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
}

/* Desktop Media Queries */

@media (min-width: 1000px) {
    .menu-link-container {
        font-size: 1.7em;
        transition-duration: 0.05s;
        transition-timing-function: ease-in-out;
        transition-property: transform;
        cursor: pointer;
    }
    .menu-link-container:hover {
        transform: scale(1.05);
    }
    .menu-link-container:active {
        transform: scale(0.99);
    }
}
