.list-container {
    margin: 0;
    padding: 0;
    list-style: none;
}

.title-container {
    height: var(--menu-link-height);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.catagory-container {
    height: 0;
    padding: 0;
    animation-name: dropdown;
    animation-duration: 0.4s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: var(--animation-path);
    overflow: clip;
}

@keyframes dropdown {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: calc(var(--menu-link-height) * 4);
        opacity: 1;
    }
}

/* Desktop Media Queries */

@media (min-width: 1000px) {
    .title-container {
        font-size: 1.7em;
    }
}
